body{
   font-family: 'Ysabeau',sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background:grey;
    padding-bottom: 3mm;
 }
 #navTheme li {
   display: inline-block;
   margin-right: 20px;
   font-size: 16px;
   font-weight: bold;
   color: #333;
   text-transform: uppercase;
   cursor: pointer;
 }
 
 #navTheme li:hover {
   color: black; color:whitesmoke/* Couleur au survol */
 }
 .logo{
    display: flex;
    justify-content: start;
    margin-top: 3mm;
 }
 .logo img{
    width: 100px;
    border-radius: 50px;

}
 ul{
    display: flex;
    gap: 30px;
    flex-direction: row;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease-in-out;
 }
 ul a{
    text-decoration: none;
    color: black;
 }
 
 h2{
   display: flex;
   margin-top: 3mm;
   text-align: center;
    margin-top: 3mm;
    flex-direction: column-reverse;
    justify-content: space-around;
 }
.imagenav {
   width: 100%;
   height: 100%;
   
}
 
 .button{
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 12px;
    transition: all .4s ease-in-out;
    background-color: #2a2725;
}

nav a { border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#main{
     background-color: whitesmoke;
    }

.header{
   position: relative;
}
.header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.header h1 {
   display: flex;
   position: absolute;
   top: 30px;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px 20px;
   border-radius: 10px;
   text-align: center;
   color: #fbfbfb;
   z-index: 1;
   font-size: 4 em;
   -webkit-text-stroke: 1.5px black;
 }

#articlePrincipal {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   flex-direction: row;
   align-items: baseline;
   margin-top: 20px;
   margin-bottom: 30px;
}

#articlePrincipal button {
   padding: 10px 20px;
   background-color: #2a2725;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   border-radius: 5px;
 }

 #articleContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 30px;
 }
 article {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

article h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  margin: 0;
  flex: 1;
}

article h3 {
  font-size: 14px;
  color: #666;
  padding: 0 20px;
  margin-bottom: 10px;
}

article img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article .content {
   padding: 20px;
   flex: 1;
 }
 



#articleContainer article button {
   position: absolute;
   bottom: 20px; /* Positionne le bouton au bas de chaque article */
   left: 50%;
   transform: translateX(-50%);
   padding: 8px 16px;
   background-color: black;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
   border-radius: 5px;
   transition: background-color 0.3s ease-in-out;
}


#auteurs {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   gap: 20px;
 }
 
 #auteurs article {
   width: calc(50% - 10px);
   margin-bottom: 20px;
   border-radius: 10px;
   padding: 20px;
 }
 
 #auteurs img {
   width: 100px;
   border-radius: 15px;
   object-fit: cover;
    border: black solid 3px;
    margin-bottom: 10px;
 }


 #auteurs h3 {
   font-size: 16px;
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
 }
 
 #auteurs p {
   font-size: 14px;
   color: #666;
   margin-bottom: 10px;
  line-height: 1.6;
 }

footer{
   background-color: grey;
}

#themefooter {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#themefooter li {
   display: flex;
   justify-content: center;

}



footer p {
   display: flex;
   justify-content: space-around;
}
 
